include ../mixins/flash-messages

doctype html
html
	head
		// meta
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description", content=description || "Simon & Hannah gaan trouwen!")
		meta(name="author", content="Simon & Hannah")
		meta(name="robots", content="noindex, nofollow")

		// title
		title= title || "Simon & Hannah gaan trouwen!"

		// fav and touch icons
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		// style
		link(rel="stylesheet", href="/css/app.css")
		link(href="/styles/glyphicons/glyphicons.css" rel="stylesheet")

		if user && user.isAdmin
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		// teletext.io
		script(src="https://teletext.io/js/latest/txt-min.js")
		script.
			Txt.render({ id: "ded31ac4-db61-42d0-9b0e-944d26a771e2" });

		// client side application
		script(src="/js/app.bundle.js")

	body
		.container
			.row
				.col-sm-6
					+flash-messages(messages)
					block content
				.col-sm-6
					img#uitnodiging(
						src="/img/uitnodiging_kort.png"
						alt="Uitnodiging voor het huwelijk van Simon & Hannah"
					)

					iframe(
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.7934351140398!2d5.072473951264846!3d52.519077243951145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60365f9ee5401%3A0x5aee1b6350b65b7c!2sStrandbad+Paviljoen+Edam!5e0!3m2!1sen!2snl!4v1468354199621"
						width="100%"
						height="200"
						frameborder="0"
						style="border:0"
						allowfullscreen
					)

		if user && user.isAdmin
			script(src="/keystone/js/content/editor.js")
