extends ../layouts/default

block content

	if rsvp
		.page-header
			if rsvp.aantal > 0
				div(data-txt="rsvp.will-attend") is erbij
			else
				div(data-txt="rsvp.will-not-attend") is er niet bij

		nav
			ul.pager
				li.previous
					a(href="/")
						span &larr;&nbsp;
						| Terug

	else
		.page-header
			h1: em(data-txt="rsvp.title") titel
			div(data-txt="rsvp.intro") intro

		.row
			.col-xs-12
				form(method="post").form-horizontal
					input(type="hidden", name="action", value="rsvp")

					.form-group(class=errors.email ? "has-error" : null)
						label.col-sm-4.control-label e-mailadres
						.col-sm-8
							input(type="email" name="email" value=formData.email required placeholder="jouw@email.nl").form-control

					.form-group#aantal(class=errors.aantal ? "has-error" : null)
						label.col-sm-4.control-label aantal personen
						.col-sm-8
							each type in aantalTypes
								// - var selectedType = formData.aantal || aantalTypes[0].value;
								- var selectedType = formData.aantal;
								label.radio-inline
									input(
										type="radio"
										name="aantal"
										value=type.value
										checked=selectedType == type.value
									)
									| #{type.label}

					div#namen

					.form-group(class=errors.overnachten ? "has-error" : null)
						label.col-sm-4.control-label overnachting
						.col-sm-8
							each type in overnachtTypes
								// - var selectedType = formData.overnachten || overnachtTypes[0].value;
								- var selectedType = formData.overnachten;
								.radio
									label
										input(
											type="radio"
											name="overnachten"
											value=type.value
											checked=selectedType == type.value
										)
										| #{type.label}

					.form-group(class=errors.berichtje ? "has-error" : null)
						label.col-sm-4.control-label berichtje
						.col-sm-8
							textarea(name="berichtje" placeholder="Laat ons eventueel een berichtje achter!" rows=5).form-control= formData.berichtje

					.form-group
						.col-sm-8.col-sm-offset-4
							button(type="submit").btn.btn-primary.btn-lg Verzend!
