extends ../layouts/default

block content
	if submitted
		.jumbotron.text-center
			h1 Joepie!
			if user
				p Head over to the Admin UI to see your enquiry:
				a(href="/keystone/enquiries").btn.btn-lg.btn-primary Admin UI
			else
				p(style="margin-left: 10vw; margin-right: 10vw;") To see your enquiry, sign in with the username
					code demo@keystonejs.com
					|  and the password
					code demo
					|  then go to the enquiries list.
				a(href="/keystone/signin").btn.btn-lg.btn-primary Sign In

	else
		.page-header
			h1 RSVP
		.row
			.col-xs-12
				form(method="post").form-horizontal
					input(type="hidden", name="action", value="rsvp")

					.form-group(class=errors.naam ? "has-error" : null)
						label.col-sm-2.text-left.control-label naam
						.col-sm-10
							input(type="text" name="naam.full" value=formData["naam.full"] required placeholder="Voor- en achternaam").form-control

					.form-group(class=errors.email ? "has-error" : null)
						label.col-sm-2.control-label e-mailadres
						.col-sm-10
							input(type="email" name="email" value=formData.email required placeholder="je@email.nl").form-control

					.form-group(class=errors.komt ? "has-error" : null)
						label.col-sm-2.control-label ben je erbij?
						.col-sm-10
							each type in komtTypes
								- var selectedType = formData.komt || komtTypes[0].value;
								label.radio-inline
									input(
										type="radio"
										name="komt"
										value=type.value
										checked=selectedType == type.value
									)
									| #{type.label}

					.form-group(class=errors.aantal ? "has-error" : null)
						label.col-sm-2.control-label aantal personen
						.col-sm-10
							each type in aantalTypes
								- var selectedType = formData.aantal || aantalTypes[0].value;
								label.radio-inline
									input(
										type="radio"
										name="aantal"
										value=type.value
										checked=selectedType == type.value
									)
									| #{type.label}

					.form-group(class=errors.overnachten ? "has-error" : null)
						label.col-sm-2.control-label overnachting
						.col-sm-10
							each type in overnachtTypes
								- var selectedType = formData.overnachten || overnachtTypes[0].value;
								.radio
									label
										input(
											type="radio"
											name="overnachten"
											value=type.value
											checked=selectedType == type.value
										)
										| #{type.label}

					.form-group(class=errors.berichtje ? "has-error" : null)
						label.col-sm-2.control-label berichtje
						.col-sm-10
							textarea(name="berichtje" placeholder="Laat ons eventueel een berichtje achter!" rows=5).form-control= formData.berichtje

					.form-group
						.col-sm-10.col-sm-offset-2
							button(type="submit").btn.btn-primary RSVP!